<!DOCTYPE html>
<html>
<head>
	<title>任务列表页</title>
	<link rel="stylesheet" href="/css/newStyle.css"/>
</head>
<body>
	<div id="layout"></div>
</body>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript">
    var pageParas ={
      title:"监管名录管理系统",
      indexNav:[{name:"企业名录造册",link:"/enterpriseDirectory"},{name:"生产数据",link:"#"},{name:"随机抽检系统",link:"#"},{name:"整改意见下达",link:"#"},{name:"黑名单管理",link:"/blackListDirectory"},{name:"整改后复查",link:"#"}]
      // defaultSelectedKeys:['苹果'],
      // defaultOpenKeys:['水果']
    }
</script>
<script src="/js/commonV3.js"></script>
<script src="/js/indexLayout-bundle.js"></script>
</html>