<!DOCTYPE html>
<html>
<head>
	<title>投入品名录管理系统</title>
	<link rel="stylesheet" href="/css/newStyle.css"/>
</head>
<body>
	<div id="layout"></div>
</body>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript">
    var pageParas ={
      title:"投入品录管理系统",
      indexNav:[{name:"种子购买记录",link:"/seedBuyList"},{name:"农药购买记录",link:"/pesticidesBuyList"},{name:"肥料购买记录",link:"/manureBuyList"},{name:"农资销售企业申报",link:"/inputsDirectory"},{name:"农资销售企业资格审核",link:"#"},{name:"投入品使用监控",link:"#"}]
      // defaultSelectedKeys:['苹果'],
      // defaultOpenKeys:['水果']
    }
</script>
<script src="/js/commonV3.js"></script>
<script src="/js/indexLayout-bundle.js"></script>
</html>